table
{
   border-collapse: collapse;
   border: 4px outset black;
}
td, th 
{
	
   text-align: center;
   border: 1px solid black;
   padding-left: 10px;
   padding-right: 10px;
}
.1
{
	
}
.2
{
	
}
.3
{
	
}
.4
{
	
}
.5
{
	
}
.6
{
	
}
.7
{
	
}
.8
{
	
}
.9
{
	
}
.10
{
	
}
.11
{
	
}
.12
{
	
}
.13
{
	
}
.14
{
	
}
.15
{
	
}
